.right {
	float:right;
}

.module {
	border-top: 1px solid $light-gray;
	padding: 2em 0;
	
	&.homepage-navigation {
		padding: 0;
	}

}

.explore-link, .book {
	position: relative;
	margin-bottom: 1em;
}

.explore-label {
	padding: .2em;
	padding-left: 2em;
	background-color: $blue;
	color: $white;
	position: absolute;
	bottom: 4em;
	left: 0;
	
}

.reviewer-info {
	img {
		margin-top: 1.3em;
		margin-bottom: 1em;
	}
	
	p {
		color: $middle-gray;
		font-size: 85%;
		font-style: italic;
	}
}

